{% if view == "base" %}
	<form action="#" class="{{content_prefix}}content  {{content_mod}}  azbn7__api__form" {% if bg %}style="background-image: url({{bg}});"{% endif %}>
        <div class="{{content_prefix}}container container  {{content_mod}}">
        	<h2 class="{{content_prefix}}heading  {{content_mod}}">{{heading}}</h2>	
            <div class="{{form_prefix}}grid  flex__row  {{form_mod}}"> 
            	{% include "elem-tpl.twig" with {
					view: 	form_view, 
					prefix:	form_prefix, 
					mod:	'', 
					color:	form_color,  
					list:	form_list
				} %}
            </div>
		</div>
	</form>
{% endif %}