<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
    <head>
        {% include "../block/common/head/head.twig" with {title:"F–S Team Challenge — новый формат соревнований"}  %}
    </head>
    <body class="is--gradient  is--landing">        
        {% include "../block/common/navbar/navbar.twig" with {
            view:           'landing',
            navbar_prefix:  'navbar__',
            navbar_mod:     '',
            active:         page.competencies_card,
        } %}    
        
        <main class="{{prefix.content}}wrap  is--landing">
            <img src="{{path.img}}/page/landing/bg-top.png" alt="" class="{{prefix.content}}bg  is--landing  is--top">
            <img src="{{path.img}}/page/landing/bg-middle.png" alt="" class="{{prefix.content}}bg  is--landing  is--middle">
            <img src="{{path.img}}/page/landing/bg-bottom-left.png" alt="" class="{{prefix.content}}bg  is--landing  is--bottom-left">
            <img src="{{path.img}}/page/landing/bg-top.png" alt="" class="{{prefix.content}}bg  is--landing  is--bottom-right">
            


            {% include "../block/page/page.twig" with {
                view:               'landing',
                content_prefix:     prefix.content, 

                text:               'Автономная некоммерческая организация "Агентство развития профессионального мастерства (Ворлдскиллс Россия)" ',

  
                content:[
                    {  
                        mod:            'is--landing-header',
                        heading_tag:    'h1',
                        heading:        'Чемпионат Future Skills Team Challenge 20201',
                        bg:             [
                            {
                                img: [path.img,"/page/landing/bg-header-top.png"].join(""),
                            },
                            {
                                img: [path.img,"/page/landing/bg-header-bottom.png"].join(""),
                            },
                            {
                                img: [path.img,"/page/landing/bg-header-xs.png"].join(""),
                            },
                            {
                                gradient: 'linear-gradient(70.56deg, #01070D 3.49%, #03202D 67.66%, #032636 90.99%)',
                            },
                        ],
                        text:           '<p>Чемпионат пройдет с&nbsp;5&nbsp;по&nbsp;8&nbsp;декабря 2021 года в&nbsp;рамках Финала V&nbsp;Национального Межвузовского чемпионата «Молодые профессионалы (Ворлдскиллс Россия)». В&nbsp;6&nbsp;командных челленджах примут участие около 80&nbsp;студентов из&nbsp;университетов со&nbsp;всей России. </p><p>Чемпионат состоится в&nbsp;очном формате на&nbsp;площадке Национального исследовательского ядерного университета «МИФИ». Также в&nbsp;демонстрационном онлайн-формате в&nbsp;соревнованиях примут участие команды зарубежных университетов. </p>',
                    },
                ],     
            } %} 

            {% include "../block/page/page.twig" with {
                view:               'challenge',
                content_prefix:     prefix.content, 
                content_mod:        'is--challenge',

                heading:            '<span>F–S Team Challenge</span> — новый формат соревнований ',
                text:               '<p>Вместе с технологическими изменениями в мировой экономике меняются и способы организации работы. Чтобы понять, какими навыками должны обладать профессионалы в следующем десятилетии и спроектировать F-S Team Challenge, мы проанализировали, как будет устроена их работа. </p>',

                more:               'Профессионал',
                more_img:           [path.img,"/page/landing/сhallenge-more.svg"].join(""), 
                more_btn:           'Подробнее',
                more_prefix:         prefix.btn,
                more_tag:           'button',
                more_type:          'button',
                more_attr:          'data-toggle="modal" data-target="#modal-challenge"',
                more_elem:          'item',
                more_mod:           '',
            } %}

            {% include "../block/page/index.twig" with {
                view:               'challenge',
                content_prefix:     prefix.content, 
                content_mod:        'is--index-challenge',

                heading:            'Ключевые навыки следующего десятилетия',

                card_view:          'adv',
                card_slider:        'data-slick-challenge',
                card_prefix:        prefix.card,
                card_mod:           "is--index-challenge", 
                card_list:[
                    {
                        img: [path.img,"/page/landing/challenge-item1.svg"].join(""),
                        name: 'Cоциально-экономические и&nbsp;культурные', 
                        note: '<ul> 
                            <li>Командная работа</li>
                            <li>Коммуникации</li>
                            <li>Сообщества</li>
                            <li>Предпринимательское мышление</li>
                        </ul>', 
                    }, 
                    {
                        img: [path.img,"/page/landing/challenge-item2.svg"].join(""),
                        name: 'Когнитивные и&nbsp;фундаментальные', 
                        note: '<ul> 
                            <li>Деятельность в&nbsp;условиях неопределенности</li>
                            <li> Системное мышление</li>
                            <li> Критическое мышление</li>
                        </ul>', 
                    },
                    {
                        img: [path.img,"/page/landing/challenge-item3.svg"].join(""),
                        name: '«Зеленые» и&nbsp;связанные с&nbsp;универсальным благополучием', 
                        note: '<ul> 
                            <li>Экология </li>
                            <li> Бережливое производство</li>
                            <li> Регенеративная экономика</li>
                        </ul>', 
                    },
                    {
                        img: [path.img,"/page/landing/challenge-item4.svg"].join(""),
                        name: 'Технические и&nbsp;цифровые', 
                        note: '<ul> 
                            <li>Цифровизация экономики</li>
                            <li>Передовые технологии (ИИ, роботизация, квантовые технологии, генетика и&nbsp;др.)</li>
                            <li>Интеграция технологических решений</li>
                        </ul>', 
                    },
                ],
            } %}

            {% include "../block/page/index.twig" with {
                view:               'blockquote',
                content_prefix:     prefix.content, 
                content_mod:        'is--index-blockquote',

                card_prefix:        prefix.card,
                card_mod:           "is--index-blockquote",
                card_note:          '<p>Говоря про будущее, в&nbsp;первую очередь мы&nbsp;думаем о&nbsp;новых технологиях, которые изменят нашу жизнь. Но, что не&nbsp;менее важно, с&nbsp;течением времени меняется и&nbsp;организация нашей работы: она становится все более творческой, сложной, системной. И&nbsp;на&nbsp;первый план, наряду с&nbsp;владением современными технологиями, выходят и&nbsp;Soft Skills: навыки коммуникации, кооперации, системное мышление и&nbsp;многие другие. Именно владение этими навыками будет определять профессионала следующего десятилетия</p>',

                card_img:           [path.img,"/page/team/loshkareva.jpg"].join(""),
                card_name:          'Екатерина Лошкарева',
                card_label:         'Заместитель генерального директора по исследованиям и разработкам, официальный делегат WorldSkills Россия',
            } %}


            {% include "../block/page/page.twig" with {
                view:               'landing',
                content_prefix:     prefix.content, 

                text:               'Автономная некоммерческая организация "Агентство развития профессионального мастерства (Ворлдскиллс Россия)" ',

                
  
                content:[
                    {  
                        mod:            'is--landing-partners',
                        heading_tag:    'h2',
                        bg:             [
                            {
                                img: [path.img,"/page/landing/bg-partners.jpg"].join(""),
                            },
                            {
                                img: [path.img,"/page/landing/bg-partners-xs.jpg"].join(""),
                            },
                        ],
                        heading:        'Организатор',
                        text:           '<p>Автономная некоммерческая организация "Агентство развития профессионального мастерства (Ворлдскиллс Россия)</p>',
                        img:            [path.img,"/page/landing/partners-item1.png"].join(""),
                    },
                ],     
            } %} 

            {% include "../block/page/page.twig" with {
                view:               'challenge',
                content_prefix:     prefix.content, 
                content_mod:        'is--challenge',

                content:[
                    { 
                        mod:        'is--item',
                        view:       'item',
                        heading:    'Компетенции',
                        name:       'Агентство по разработке цифровых продуктов',
                        card_view:  'adv',
                        card_prefix: prefix.card,
                        card_mod_thumb:     'is--сhallenge-item  is--thumb',
                        card_mod:           'is--сhallenge-item  is--card',
                        card_list:  [
                            {
                                name:   'Агентство по разработке цифровых продуктов',
                                card_list_nav:  [
                                    {
                                        link:   '#tabs-item1',
                                        toggle: 'tab',
                                        status: 'active',
                                        img:    [path.img,"/page/landing/сhallenge-item1.svg"].join(""),
                                    },
                                    {
                                        link:   '#tabs-item2',
                                        toggle: 'tab',
                                        img:    [path.img,"/page/landing/сhallenge-item2.svg"].join(""),
                                    },
                                    {
                                        link:   '#tabs-item3',
                                        toggle: 'tab',
                                        img:    [path.img,"/page/landing/сhallenge-item3.svg"].join(""),
                                    },
                                ],
                                card_list:  [
                                    {
                                        id:     'tabs-item1',
                                        tabs:   'active',
                                        name:   'Состав команды компетенции',
                                        note:   '<ul> 
                                            <li>Менеджмент и&nbsp;маркетинг</li>
                                            <li>Промышленный дизайн</li>
                                            <li>Электроника</li>
                                            <li>Изготовление прототипов</li>
                                        </ul>
                                        <div>Члены команды могут собираться из разных вузов, команда может собираться непосредственно на соревнованиях</div>',
                                    },
                                    {
                                        id:     'tabs-item2',
                                        name:   'Идея задания',
                                        note:   '<p>Разработать технологический продукт и изготовить прототип на основании принципиального задания от заказчика.</p><p>Задание подразумевает широкую степень свободы в выборе способов его решения.</p>',
                                    },
                                    {
                                        id:     'tabs-item3',
                                        name:   'Критерии оценки',
                                        note:   '<ul><li>Командное взаимодействие, согласованность</li><li>Предпринимательское мышление, взаимодействие с&nbsp;заказчиком</li><li>Владение перспективными технологиями</li></ul>',
                                    },
                                ],
                            },
                            {
                                name:   'Агентство цифровых продуктов',
                                card_list_nav:  [
                                    {
                                        link:   '#tabs-item4',
                                        toggle: 'tab',
                                        status: 'active',
                                        img:    [path.img,"/page/сhallenge/сhallenge-item1.svg"].join(""),
                                    },
                                    {
                                        link:   '#tabs-item5',
                                        toggle: 'tab',
                                        img:    [path.img,"/page/сhallenge/сhallenge-item2.svg"].join(""),
                                    },
                                    {
                                        link:   '#tabs-item6',
                                        toggle: 'tab',
                                        img:    [path.img,"/page/сhallenge/сhallenge-item3.svg"].join(""),
                                    },
                                ],
                                card_list:  [
                                    {
                                        id:     'tabs-item4',
                                        tabs:   'active',
                                        name:   'Состав команды компетенции',
                                        note:   '<ul> 
                                            <li>Менеджмент и&nbsp;маркетинг</li>
                                            <li>Промышленный дизайн</li>
                                            <li>Электроника</li>
                                            <li>Изготовление прототипов</li>
                                        </ul>
                                        <div>Члены команды могут собираться из разных вузов, команда может собираться непосредственно на соревнованиях</div>',
                                    },
                                    {
                                        id:     'tabs-item5',
                                        name:   'Идея задания',
                                        note:   '<p>Разработать технологический продукт и изготовить прототип на основании принципиального задания от заказчика.</p><p>Задание подразумевает широкую степень свободы в выборе способов его решения.</p>',
                                    },
                                    {
                                        id:     'tabs-item6',
                                        name:   'Критерии оценки',
                                        note:   '<ul><li>Командное взаимодействие, согласованность</li><li>Предпринимательское мышление, взаимодействие с&nbsp;заказчиком</li><li>Владение перспективными технологиями</li></ul>',
                                    },
                                ],
                            },
                        ],
                    },
                    { 
                        mod:                'is--sponsors',
                        view:               'sponsors',
                        heading:            'Партнеры и спонсоры',
                        card_view:          'sponsors',
                        card_prefix:        prefix.card,
                        card_mod:           'is--сhallenge-sponsors',
                        card_list:  [
                            {
                                label:   'Партнер',
                                name:   'Название компании',
                                img: [path.img,"/page/landing/sponsors-item1.png"].join(""),
                                close: 'true',
                                note: '
                                    <h5>Название компании</h5>
                                    <p>Фирма «1С» занимается разработкой, дистрибьюцией, изданием и&nbsp;поддержкой программных продуктов и&nbsp;ИТ-сервисов.</p><p>Фирма «1С» работает с&nbsp;пользователями через партнерскую сеть, которая включает более 10&nbsp;000 постоянных партнеров в&nbsp;25&nbsp;странах, в&nbsp;том числе&nbsp;— более 8&nbsp;000 сертифицированных компаний сети 1С:Франчайзи.</p><p>Из&nbsp;разработок «1С» наиболее известна система программ «1С:Предприятие»&nbsp;— решения ERP-класса для управления и&nbsp;повышения эффективности предприятий и&nbsp;учреждений. Эти системы построены на&nbsp;инновационной технологической платформе, которая обеспечивает высокую гибкость, масштабируемость и&nbsp;производительность корпоративных решений, работу в&nbsp;режиме «облачного» сервиса (SaaS) и&nbsp;на&nbsp;мобильных устройствах.</p><p>«1С:Предприятие» успешно применяется для автоматизации управления и&nbsp;учета более чем в&nbsp;1&nbsp;500&nbsp;000 организаций&nbsp;— от&nbsp;малого бизнеса до&nbsp;крупнейших корпораций и&nbsp;госструктур. Система лидирует на&nbsp;рынке ERP России по&nbsp;количеству автоматизированных рабочих мест.</p>
                                ',
                                video:  'https://fs.worldskills.ru/upload/iblock/d0c/1qd8th72gph5n9gax91hh0p5hylg9kfj.mp4',

                            },
                            {
                                name:   'Название компании',
                                img: [path.img,"/page/landing/sponsors-item2.png"].join(""),
                                close: 'true',
                                note: '
                                    <h5>Название компании</h5>
                                    <p>Фирма «1С» занимается разработкой, дистрибьюцией, изданием и&nbsp;поддержкой программных продуктов и&nbsp;ИТ-сервисов.</p><p>Фирма «1С» работает с&nbsp;пользователями через партнерскую сеть, которая включает более 10&nbsp;000 постоянных партнеров в&nbsp;25&nbsp;странах, в&nbsp;том числе&nbsp;— более 8&nbsp;000 сертифицированных компаний сети 1С:Франчайзи.</p><p>Из&nbsp;разработок «1С» наиболее известна система программ «1С:Предприятие»&nbsp;— решения ERP-класса для управления и&nbsp;повышения эффективности предприятий и&nbsp;учреждений. Эти системы построены на&nbsp;инновационной технологической платформе, которая обеспечивает высокую гибкость, масштабируемость и&nbsp;производительность корпоративных решений, работу в&nbsp;режиме «облачного» сервиса (SaaS) и&nbsp;на&nbsp;мобильных устройствах.</p><p>«1С:Предприятие» успешно применяется для автоматизации управления и&nbsp;учета более чем в&nbsp;1&nbsp;500&nbsp;000 организаций&nbsp;— от&nbsp;малого бизнеса до&nbsp;крупнейших корпораций и&nbsp;госструктур. Система лидирует на&nbsp;рынке ERP России по&nbsp;количеству автоматизированных рабочих мест.</p>
                                ',
                                youtube:  '1WuXqPnqP_A',
                            },
                            {
                                name:   'Название компании',
                                img: [path.img,"/page/landing/sponsors-item3.png"].join(""),
                                close: 'true',
                                note: '
                                    <h5>Название компании</h5>
                                    <p>Фирма «1С» занимается разработкой, дистрибьюцией, изданием и&nbsp;поддержкой программных продуктов и&nbsp;ИТ-сервисов.</p><p>Фирма «1С» работает с&nbsp;пользователями через партнерскую сеть, которая включает более 10&nbsp;000 постоянных партнеров в&nbsp;25&nbsp;странах, в&nbsp;том числе&nbsp;— более 8&nbsp;000 сертифицированных компаний сети 1С:Франчайзи.</p><p>Из&nbsp;разработок «1С» наиболее известна система программ «1С:Предприятие»&nbsp;— решения ERP-класса для управления и&nbsp;повышения эффективности предприятий и&nbsp;учреждений. Эти системы построены на&nbsp;инновационной технологической платформе, которая обеспечивает высокую гибкость, масштабируемость и&nbsp;производительность корпоративных решений, работу в&nbsp;режиме «облачного» сервиса (SaaS) и&nbsp;на&nbsp;мобильных устройствах.</p><p>«1С:Предприятие» успешно применяется для автоматизации управления и&nbsp;учета более чем в&nbsp;1&nbsp;500&nbsp;000 организаций&nbsp;— от&nbsp;малого бизнеса до&nbsp;крупнейших корпораций и&nbsp;госструктур. Система лидирует на&nbsp;рынке ERP России по&nbsp;количеству автоматизированных рабочих мест.</p>
                                ',
                            },
                            {
                                name:   'Название компании',
                                img: [path.img,"/page/landing/sponsors-item4.png"].join(""),
                                close: 'true',
                                note: '
                                    <h5>Название компании</h5>
                                    <p>Фирма «1С» занимается разработкой, дистрибьюцией, изданием и&nbsp;поддержкой программных продуктов и&nbsp;ИТ-сервисов.</p><p>Фирма «1С» работает с&nbsp;пользователями через партнерскую сеть, которая включает более 10&nbsp;000 постоянных партнеров в&nbsp;25&nbsp;странах, в&nbsp;том числе&nbsp;— более 8&nbsp;000 сертифицированных компаний сети 1С:Франчайзи.</p><p>Из&nbsp;разработок «1С» наиболее известна система программ «1С:Предприятие»&nbsp;— решения ERP-класса для управления и&nbsp;повышения эффективности предприятий и&nbsp;учреждений. Эти системы построены на&nbsp;инновационной технологической платформе, которая обеспечивает высокую гибкость, масштабируемость и&nbsp;производительность корпоративных решений, работу в&nbsp;режиме «облачного» сервиса (SaaS) и&nbsp;на&nbsp;мобильных устройствах.</p><p>«1С:Предприятие» успешно применяется для автоматизации управления и&nbsp;учета более чем в&nbsp;1&nbsp;500&nbsp;000 организаций&nbsp;— от&nbsp;малого бизнеса до&nbsp;крупнейших корпораций и&nbsp;госструктур. Система лидирует на&nbsp;рынке ERP России по&nbsp;количеству автоматизированных рабочих мест.</p>
                                ',
                            },
                            {
                                name:   'Название компании',
                                img: [path.img,"/page/landing/sponsors-item5.png"].join(""),
                                close: 'true',
                                note: '
                                    <h5>Название компании</h5>
                                    <p>Фирма «1С» занимается разработкой, дистрибьюцией, изданием и&nbsp;поддержкой программных продуктов и&nbsp;ИТ-сервисов.</p><p>Фирма «1С» работает с&nbsp;пользователями через партнерскую сеть, которая включает более 10&nbsp;000 постоянных партнеров в&nbsp;25&nbsp;странах, в&nbsp;том числе&nbsp;— более 8&nbsp;000 сертифицированных компаний сети 1С:Франчайзи.</p><p>Из&nbsp;разработок «1С» наиболее известна система программ «1С:Предприятие»&nbsp;— решения ERP-класса для управления и&nbsp;повышения эффективности предприятий и&nbsp;учреждений. Эти системы построены на&nbsp;инновационной технологической платформе, которая обеспечивает высокую гибкость, масштабируемость и&nbsp;производительность корпоративных решений, работу в&nbsp;режиме «облачного» сервиса (SaaS) и&nbsp;на&nbsp;мобильных устройствах.</p><p>«1С:Предприятие» успешно применяется для автоматизации управления и&nbsp;учета более чем в&nbsp;1&nbsp;500&nbsp;000 организаций&nbsp;— от&nbsp;малого бизнеса до&nbsp;крупнейших корпораций и&nbsp;госструктур. Система лидирует на&nbsp;рынке ERP России по&nbsp;количеству автоматизированных рабочих мест.</p>
                                ',
                            },
                            {
                                name:   'Название компании',
                                img: [path.img,"/page/landing/sponsors-item6.png"].join(""),
                                close: 'true',
                                note: '
                                    <h5>Название компании</h5>
                                    <p>Фирма «1С» занимается разработкой, дистрибьюцией, изданием и&nbsp;поддержкой программных продуктов и&nbsp;ИТ-сервисов.</p><p>Фирма «1С» работает с&nbsp;пользователями через партнерскую сеть, которая включает более 10&nbsp;000 постоянных партнеров в&nbsp;25&nbsp;странах, в&nbsp;том числе&nbsp;— более 8&nbsp;000 сертифицированных компаний сети 1С:Франчайзи.</p><p>Из&nbsp;разработок «1С» наиболее известна система программ «1С:Предприятие»&nbsp;— решения ERP-класса для управления и&nbsp;повышения эффективности предприятий и&nbsp;учреждений. Эти системы построены на&nbsp;инновационной технологической платформе, которая обеспечивает высокую гибкость, масштабируемость и&nbsp;производительность корпоративных решений, работу в&nbsp;режиме «облачного» сервиса (SaaS) и&nbsp;на&nbsp;мобильных устройствах.</p><p>«1С:Предприятие» успешно применяется для автоматизации управления и&nbsp;учета более чем в&nbsp;1&nbsp;500&nbsp;000 организаций&nbsp;— от&nbsp;малого бизнеса до&nbsp;крупнейших корпораций и&nbsp;госструктур. Система лидирует на&nbsp;рынке ERP России по&nbsp;количеству автоматизированных рабочих мест.</p>
                                ',
                            },
                            {
                                name:   'Название компании',
                                img: [path.img,"/page/landing/sponsors-item7.png"].join(""),
                                close: 'true',
                                note: '
                                    <h5>Название компании</h5>
                                    <p>Фирма «1С» занимается разработкой, дистрибьюцией, изданием и&nbsp;поддержкой программных продуктов и&nbsp;ИТ-сервисов.</p><p>Фирма «1С» работает с&nbsp;пользователями через партнерскую сеть, которая включает более 10&nbsp;000 постоянных партнеров в&nbsp;25&nbsp;странах, в&nbsp;том числе&nbsp;— более 8&nbsp;000 сертифицированных компаний сети 1С:Франчайзи.</p><p>Из&nbsp;разработок «1С» наиболее известна система программ «1С:Предприятие»&nbsp;— решения ERP-класса для управления и&nbsp;повышения эффективности предприятий и&nbsp;учреждений. Эти системы построены на&nbsp;инновационной технологической платформе, которая обеспечивает высокую гибкость, масштабируемость и&nbsp;производительность корпоративных решений, работу в&nbsp;режиме «облачного» сервиса (SaaS) и&nbsp;на&nbsp;мобильных устройствах.</p><p>«1С:Предприятие» успешно применяется для автоматизации управления и&nbsp;учета более чем в&nbsp;1&nbsp;500&nbsp;000 организаций&nbsp;— от&nbsp;малого бизнеса до&nbsp;крупнейших корпораций и&nbsp;госструктур. Система лидирует на&nbsp;рынке ERP России по&nbsp;количеству автоматизированных рабочих мест.</p>
                                ',
                            },
                            {
                                name:   'Название компании',
                                img: [path.img,"/page/landing/sponsors-item1.png"].join(""),
                                close: 'true',
                                note: '
                                    <h5>Название компании</h5>
                                    <p>Фирма «1С» занимается разработкой, дистрибьюцией, изданием и&nbsp;поддержкой программных продуктов и&nbsp;ИТ-сервисов.</p><p>Фирма «1С» работает с&nbsp;пользователями через партнерскую сеть, которая включает более 10&nbsp;000 постоянных партнеров в&nbsp;25&nbsp;странах, в&nbsp;том числе&nbsp;— более 8&nbsp;000 сертифицированных компаний сети 1С:Франчайзи.</p><p>Из&nbsp;разработок «1С» наиболее известна система программ «1С:Предприятие»&nbsp;— решения ERP-класса для управления и&nbsp;повышения эффективности предприятий и&nbsp;учреждений. Эти системы построены на&nbsp;инновационной технологической платформе, которая обеспечивает высокую гибкость, масштабируемость и&nbsp;производительность корпоративных решений, работу в&nbsp;режиме «облачного» сервиса (SaaS) и&nbsp;на&nbsp;мобильных устройствах.</p><p>«1С:Предприятие» успешно применяется для автоматизации управления и&nbsp;учета более чем в&nbsp;1&nbsp;500&nbsp;000 организаций&nbsp;— от&nbsp;малого бизнеса до&nbsp;крупнейших корпораций и&nbsp;госструктур. Система лидирует на&nbsp;рынке ERP России по&nbsp;количеству автоматизированных рабочих мест.</p>
                                ',
                            },
                        ],
                    },
                ]
            } %}

            {% include "../block/page/block.twig" with {
                view:               'docs',
                content_prefix:     prefix.content, 
                content_mod:        'is--block-smi',

                heading:            'По вопросам аккредитации СМИ:',

                btn:                'pressa@worldskills.ru',
                btn_prefix:         prefix.btn,
                btn_tag:            'a',
                btn_elem:           'item',
                btn_link:           "mailto:pressa@worldskills.ru", 
                btn_icon:           'mailto',
                btn_mod:            '', 
   
            } %} 


            {% include "../block/page/page.twig" with {
                view:               'articles',
                content_prefix:     prefix.content, 
                content_mod:        'is--articles',

                heading:            'Новости ',
                heading_tag:        'h2',

                card_view:          'articles_card',
                card_prefix:        prefix.card,
                card_mod:           "is--articles-card", 
                card_list:[
                    {  
                        modal: 'modal-articles',
                        name: 'Ворлдскиллс Россия организовал первый международный лагерь для юниоров', 
                        date: '10.11.2021', 
                        img: [path.img,"/page/landing/articles-item1.jpg"].join(""),
                        note: '<p>Ворлдскиллс Россия совместно с&nbsp;Академией цифровых технологий Санкт-Петербурга запустило международный лагерь для юниоров International Skills Camp for Juniors по&nbsp;трем компетенциям: «Веб-дизайн и&nbsp;разработка», «Летающая робототехника» и&nbsp;«Графический дизайн».</p><p>Занятия проходят в&nbsp;течение трех дней в&nbsp;интерактивной форме: после изучения теоретического материала участникам предлагается выполнить практические задания и&nbsp;принять участие в&nbsp;специальных играх. В&nbsp;обучении принимают участие ребята от&nbsp;12&nbsp;до&nbsp;16&nbsp;лет из&nbsp;7&nbsp;стран: Венгрии, Польши, Узбекистана, Беларуси, Казахстана, Малайзии и&nbsp;России.</p><p>«WorldSkills Russia Juniors имеет большой опыт в&nbsp;организации такого рода обучения. Особенность International Skills Camp for Juniors в&nbsp;том, что он&nbsp;впервые проводится на&nbsp;английском языке, а&nbsp;онлайн-формат позволяет привлечь участников из&nbsp;любой точки мира. Таким образом, ребята смогут не&nbsp;только постичь азы выбранной профессии, но&nbsp;и&nbsp;получить языковую практику с&nbsp;юниорами из&nbsp;других стран»,&nbsp;— отмечает Алия Лутфуллина, руководитель юниорского направления международного департамента Ворлдскиллс Россия.</p><p>«Skills Camp for Juniors&nbsp;— новый формат обучения для детей, направленный на&nbsp;межстрановую кооперацию. Ребенок, который осваивает профессию в&nbsp;школьном возрасте в&nbsp;интернациональной среде, уже в&nbsp;юношеском возрасте сможет разработать и&nbsp;предложить стартап не&nbsp;просто национального, а&nbsp;глобального уровня, что особенно актуально для креативного и&nbsp;IT-секторов»,&nbsp;— говорит Алина Досканова, заместитель генерального директора Ворлдскиллс Россия по&nbsp;международной деятельности, член совета директоров WorldSkills Asia.</p><p>По&nbsp;итогам обучения участники получат диплом о&nbsp;прохождении курса. </p>', 
                    },
                    {  
                        modal: 'modal-articles',
                        name: 'Future Skills Team Challenge – новый успешный эксперимент Ворлдскиллс Россия', 
                        date: '10.11.2021', 
                        img: [path.img,"/page/landing/articles-item1.jpg"].join(""),
                        note: '<p>Ворлдскиллс Россия совместно с&nbsp;Академией цифровых технологий Санкт-Петербурга запустило международный лагерь для юниоров International Skills Camp for Juniors по&nbsp;трем компетенциям: «Веб-дизайн и&nbsp;разработка», «Летающая робототехника» и&nbsp;«Графический дизайн».</p><p>Занятия проходят в&nbsp;течение трех дней в&nbsp;интерактивной форме: после изучения теоретического материала участникам предлагается выполнить практические задания и&nbsp;принять участие в&nbsp;специальных играх. В&nbsp;обучении принимают участие ребята от&nbsp;12&nbsp;до&nbsp;16&nbsp;лет из&nbsp;7&nbsp;стран: Венгрии, Польши, Узбекистана, Беларуси, Казахстана, Малайзии и&nbsp;России.</p><p>«WorldSkills Russia Juniors имеет большой опыт в&nbsp;организации такого рода обучения. Особенность International Skills Camp for Juniors в&nbsp;том, что он&nbsp;впервые проводится на&nbsp;английском языке, а&nbsp;онлайн-формат позволяет привлечь участников из&nbsp;любой точки мира. Таким образом, ребята смогут не&nbsp;только постичь азы выбранной профессии, но&nbsp;и&nbsp;получить языковую практику с&nbsp;юниорами из&nbsp;других стран»,&nbsp;— отмечает Алия Лутфуллина, руководитель юниорского направления международного департамента Ворлдскиллс Россия.</p><p>«Skills Camp for Juniors&nbsp;— новый формат обучения для детей, направленный на&nbsp;межстрановую кооперацию. Ребенок, который осваивает профессию в&nbsp;школьном возрасте в&nbsp;интернациональной среде, уже в&nbsp;юношеском возрасте сможет разработать и&nbsp;предложить стартап не&nbsp;просто национального, а&nbsp;глобального уровня, что особенно актуально для креативного и&nbsp;IT-секторов»,&nbsp;— говорит Алина Досканова, заместитель генерального директора Ворлдскиллс Россия по&nbsp;международной деятельности, член совета директоров WorldSkills Asia.</p><p>По&nbsp;итогам обучения участники получат диплом о&nbsp;прохождении курса. </p>',
                    },
                    {  
                        modal: 'modal-articles',
                        name: 'Клубы рационализаторов станут толчком развития в стране', 
                        date: '10.11.2021', 
                        img: [path.img,"/page/landing/articles-item1.jpg"].join(""),
                        note: '<p>Ворлдскиллс Россия совместно с&nbsp;Академией цифровых технологий Санкт-Петербурга запустило международный лагерь для юниоров International Skills Camp for Juniors по&nbsp;трем компетенциям: «Веб-дизайн и&nbsp;разработка», «Летающая робототехника» и&nbsp;«Графический дизайн».</p><p>Занятия проходят в&nbsp;течение трех дней в&nbsp;интерактивной форме: после изучения теоретического материала участникам предлагается выполнить практические задания и&nbsp;принять участие в&nbsp;специальных играх. В&nbsp;обучении принимают участие ребята от&nbsp;12&nbsp;до&nbsp;16&nbsp;лет из&nbsp;7&nbsp;стран: Венгрии, Польши, Узбекистана, Беларуси, Казахстана, Малайзии и&nbsp;России.</p><p>«WorldSkills Russia Juniors имеет большой опыт в&nbsp;организации такого рода обучения. Особенность International Skills Camp for Juniors в&nbsp;том, что он&nbsp;впервые проводится на&nbsp;английском языке, а&nbsp;онлайн-формат позволяет привлечь участников из&nbsp;любой точки мира. Таким образом, ребята смогут не&nbsp;только постичь азы выбранной профессии, но&nbsp;и&nbsp;получить языковую практику с&nbsp;юниорами из&nbsp;других стран»,&nbsp;— отмечает Алия Лутфуллина, руководитель юниорского направления международного департамента Ворлдскиллс Россия.</p><p>«Skills Camp for Juniors&nbsp;— новый формат обучения для детей, направленный на&nbsp;межстрановую кооперацию. Ребенок, который осваивает профессию в&nbsp;школьном возрасте в&nbsp;интернациональной среде, уже в&nbsp;юношеском возрасте сможет разработать и&nbsp;предложить стартап не&nbsp;просто национального, а&nbsp;глобального уровня, что особенно актуально для креативного и&nbsp;IT-секторов»,&nbsp;— говорит Алина Досканова, заместитель генерального директора Ворлдскиллс Россия по&nbsp;международной деятельности, член совета директоров WorldSkills Asia.</p><p>По&nbsp;итогам обучения участники получат диплом о&nbsp;прохождении курса. </p>',
                    },
                    {  
                        modal: 'modal-articles',
                        name: 'Lorem ipsum dolor sit amet consectetur, adipisicing?', 
                        date: '10.11.2021', 
                        img: [path.img,"/page/landing/articles-item1.jpg"].join(""),
                        note: '<p>Ворлдскиллс Россия совместно с&nbsp;Академией цифровых технологий Санкт-Петербурга запустило международный лагерь для юниоров International Skills Camp for Juniors по&nbsp;трем компетенциям: «Веб-дизайн и&nbsp;разработка», «Летающая робототехника» и&nbsp;«Графический дизайн».</p><p>Занятия проходят в&nbsp;течение трех дней в&nbsp;интерактивной форме: после изучения теоретического материала участникам предлагается выполнить практические задания и&nbsp;принять участие в&nbsp;специальных играх. В&nbsp;обучении принимают участие ребята от&nbsp;12&nbsp;до&nbsp;16&nbsp;лет из&nbsp;7&nbsp;стран: Венгрии, Польши, Узбекистана, Беларуси, Казахстана, Малайзии и&nbsp;России.</p><p>«WorldSkills Russia Juniors имеет большой опыт в&nbsp;организации такого рода обучения. Особенность International Skills Camp for Juniors в&nbsp;том, что он&nbsp;впервые проводится на&nbsp;английском языке, а&nbsp;онлайн-формат позволяет привлечь участников из&nbsp;любой точки мира. Таким образом, ребята смогут не&nbsp;только постичь азы выбранной профессии, но&nbsp;и&nbsp;получить языковую практику с&nbsp;юниорами из&nbsp;других стран»,&nbsp;— отмечает Алия Лутфуллина, руководитель юниорского направления международного департамента Ворлдскиллс Россия.</p><p>«Skills Camp for Juniors&nbsp;— новый формат обучения для детей, направленный на&nbsp;межстрановую кооперацию. Ребенок, который осваивает профессию в&nbsp;школьном возрасте в&nbsp;интернациональной среде, уже в&nbsp;юношеском возрасте сможет разработать и&nbsp;предложить стартап не&nbsp;просто национального, а&nbsp;глобального уровня, что особенно актуально для креативного и&nbsp;IT-секторов»,&nbsp;— говорит Алина Досканова, заместитель генерального директора Ворлдскиллс Россия по&nbsp;международной деятельности, член совета директоров WorldSkills Asia.</p><p>По&nbsp;итогам обучения участники получат диплом о&nbsp;прохождении курса. </p>',
                    },
                    {  
                        modal: 'modal-articles',
                        name: 'Клубы рационализаторов станут толчком развития в стране',
                        date: '10.11.2021',
                        img: [path.img,"/page/landing/articles-item1.jpg"].join(""),
                        
                        note: '<p>Ворлдскиллс Россия совместно с&nbsp;Академией цифровых технологий Санкт-Петербурга запустило международный лагерь для юниоров International Skills Camp for Juniors по&nbsp;трем компетенциям: «Веб-дизайн и&nbsp;разработка», «Летающая робототехника» и&nbsp;«Графический дизайн».</p><p>Занятия проходят в&nbsp;течение трех дней в&nbsp;интерактивной форме: после изучения теоретического материала участникам предлагается выполнить практические задания и&nbsp;принять участие в&nbsp;специальных играх. В&nbsp;обучении принимают участие ребята от&nbsp;12&nbsp;до&nbsp;16&nbsp;лет из&nbsp;7&nbsp;стран: Венгрии, Польши, Узбекистана, Беларуси, Казахстана, Малайзии и&nbsp;России.</p><p>«WorldSkills Russia Juniors имеет большой опыт в&nbsp;организации такого рода обучения. Особенность International Skills Camp for Juniors в&nbsp;том, что он&nbsp;впервые проводится на&nbsp;английском языке, а&nbsp;онлайн-формат позволяет привлечь участников из&nbsp;любой точки мира. Таким образом, ребята смогут не&nbsp;только постичь азы выбранной профессии, но&nbsp;и&nbsp;получить языковую практику с&nbsp;юниорами из&nbsp;других стран»,&nbsp;— отмечает Алия Лутфуллина, руководитель юниорского направления международного департамента Ворлдскиллс Россия.</p><p>«Skills Camp for Juniors&nbsp;— новый формат обучения для детей, направленный на&nbsp;межстрановую кооперацию. Ребенок, который осваивает профессию в&nbsp;школьном возрасте в&nbsp;интернациональной среде, уже в&nbsp;юношеском возрасте сможет разработать и&nbsp;предложить стартап не&nbsp;просто национального, а&nbsp;глобального уровня, что особенно актуально для креативного и&nbsp;IT-секторов»,&nbsp;— говорит Алина Досканова, заместитель генерального директора Ворлдскиллс Россия по&nbsp;международной деятельности, член совета директоров WorldSkills Asia.</p><p>По&nbsp;итогам обучения участники получат диплом о&nbsp;прохождении курса. </p>',
                    },
                    {  
                        modal: 'modal-articles',
                        name: 'Клубы рационализаторов станут толчком развития в стране',
                        date: '10.11.2021',
                        img: [path.img,"/page/landing/articles-item1.jpg"].join(""),
                        
                        note: '<p>Ворлдскиллс Россия совместно с&nbsp;Академией цифровых технологий Санкт-Петербурга запустило международный лагерь для юниоров International Skills Camp for Juniors по&nbsp;трем компетенциям: «Веб-дизайн и&nbsp;разработка», «Летающая робототехника» и&nbsp;«Графический дизайн».</p><p>Занятия проходят в&nbsp;течение трех дней в&nbsp;интерактивной форме: после изучения теоретического материала участникам предлагается выполнить практические задания и&nbsp;принять участие в&nbsp;специальных играх. В&nbsp;обучении принимают участие ребята от&nbsp;12&nbsp;до&nbsp;16&nbsp;лет из&nbsp;7&nbsp;стран: Венгрии, Польши, Узбекистана, Беларуси, Казахстана, Малайзии и&nbsp;России.</p><p>«WorldSkills Russia Juniors имеет большой опыт в&nbsp;организации такого рода обучения. Особенность International Skills Camp for Juniors в&nbsp;том, что он&nbsp;впервые проводится на&nbsp;английском языке, а&nbsp;онлайн-формат позволяет привлечь участников из&nbsp;любой точки мира. Таким образом, ребята смогут не&nbsp;только постичь азы выбранной профессии, но&nbsp;и&nbsp;получить языковую практику с&nbsp;юниорами из&nbsp;других стран»,&nbsp;— отмечает Алия Лутфуллина, руководитель юниорского направления международного департамента Ворлдскиллс Россия.</p><p>«Skills Camp for Juniors&nbsp;— новый формат обучения для детей, направленный на&nbsp;межстрановую кооперацию. Ребенок, который осваивает профессию в&nbsp;школьном возрасте в&nbsp;интернациональной среде, уже в&nbsp;юношеском возрасте сможет разработать и&nbsp;предложить стартап не&nbsp;просто национального, а&nbsp;глобального уровня, что особенно актуально для креативного и&nbsp;IT-секторов»,&nbsp;— говорит Алина Досканова, заместитель генерального директора Ворлдскиллс Россия по&nbsp;международной деятельности, член совета директоров WorldSkills Asia.</p><p>По&nbsp;итогам обучения участники получат диплом о&nbsp;прохождении курса. </p>',
                    },
                ],
            } %}
            
            {# <div class="{{prefix.content}}bg  is--glow">
                <img src="{{path.img}}/bg/cursor.png" alt="">
            </div> #}
        </main>

        {% include "../block/common/footer/footer.twig" with {
            view:"landing",
            footer_prefix:"footer__"
        } %} 

        {% include "../block/common/modals/include.twig" with {  
            bg:         [
                {
                    mod:    'is--top',
                    img:    [path.img,"/page/landing/modal/bg-top.jpg"].join(""),
                },    
                {
                    mod:    'is--bottom',
                    img:    [path.img,"/page/landing/modal/bg-bottom.jpg"].join(""),
                },
            ],
            img:         [
                {
                    mod:    'center--img1',
                    img:    [path.img,"/page/landing/modal/user-woman.svg"].join(""),
                },
                {
                    mod:    'center--img2',
                    img:    [path.img,"/page/landing/modal/user-man.svg"].join(""),
                },
                {
                    mod:    'center--img3',
                    img:    [path.img,"/page/landing/modal/user-woman.svg"].join(""),
                },
                {
                    mod:    'center--img4',
                    img:    [path.img,"/page/landing/modal/user-man.svg"].join(""),
                },
            ],
            icon:         [
                {
                    mod:    'is--top',
                    img:    [path.img,"/page/landing/modal/brain.svg"].join(""),
                    name:   'Cognitive foundation',
                },
                {
                    mod:    'is--right',
                    img:    [path.img,"/page/landing/modal/leaf.svg"].join(""),
                    name:   'Green & universal wellbeing',
                },
                {
                    mod:    'is--bottom',
                    img:    [path.img,"/page/landing/modal/microscheme.svg"].join(""),
                    name:   'Technical & digital',
                },
                {
                    mod:    'is--left',
                    img:    [path.img,"/page/landing/modal/cultural.svg"].join(""),
                    name:   'Socio-economic & cultural',
                },
            ],
        }%}
        {% include "../block/common/script/script.twig" with {
            fullpage: 'true',
            followcursor: 'true',
        } %}
        <script>
            if($(document).width() < 1200) {
               $('.card__group.is--сhallenge-sponsors').on("click", function() {
                    $(this).parent().addClass('is--visit');
                });
                $('[data-close]').on("click", function() {
                    $(this).closest('.card__item').removeClass('is--visit');

                    var video = $(this).closest('.card__item').find('video');
                    var iframe = $(this).closest('.card__item').find('.card__iframe');
                    
                if (video.length > 0) {                    
                    video.get(0).pause();
                }
                if (iframe.length > 0) {
                    var frame_id = iframe.prop('src');   
                    iframe.prop('src', ''); 
                    iframe.prop('src', frame_id);
                }
                });
            } 

            var figure = $(".card__item").hover( hoverVideo, hideVideo );
            function hoverVideo(e) {
                var video = $('video', this);
                if (video.length > 0) {                    
                    video.get(0).play();
                }
            }
            function hideVideo(e) {
                var video = $('video', this);
                var iframe = $('.card__iframe', this);

                if (video.length > 0) {                    
                    video.get(0).pause();
                }
                if (iframe.length > 0) {
                    var frame_id = iframe.prop('src');   
                    iframe.prop('src', ''); 
                    iframe.prop('src', frame_id);
                }
            }
        </script>
    </body>
</html>