<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
    <head>
        {% include "../block/common/head/head.twig" with {title:"Компетенции"}  %}
    </head>
    <body>
        
        {% include "../block/common/navbar/navbar.twig" with {
            view:           'base',
            navbar_prefix:  'navbar__',
            navbar_mod:     'is--scroll',
            active:         page.university,
        } %}    
        
        <main class="{{prefix.content}}wrap  is--default">
            <img src="{{path.img}}/bg/bg-sm.jpg" alt="" class="{{prefix.content}}bg  is--default  is--top">
            <img src="{{path.img}}/bg/bg-lg.jpg" alt="" class="{{prefix.content}}bg  is--default  is--bottom">
            <div class="{{prefix.content}}bg  is--glow  is--uni" data-glow >
                <img src="{{path.img}}/bg/uni-glow-top.png" alt=""  >
                <img src="{{path.img}}/bg/uni-glow-bottom.png" alt="">
            </div>
            {% include "../block/page/page.twig" with {
                view:               'university',
                content_prefix:     prefix.content, 
                content_mod:        'is--university',

                heading:            'Университетам ',
                text:               '<p>Проект FutureSkills предлагает спектр возможностей и взаимодействия для современных российских университетов:</p>',
                text:               '<p>Проект FutureSkills предлагает спектр возможностей и&nbsp;направлений взаимодействия для современных российских университетов:</p>',

                back:                'Главная',
                back_prefix:         prefix.btn,
                back_tag:            'a',
                back_elem:           'link',
                back_link:           page.index, 
                back_icon:           'goback',
                back_mod:            '', 

                card_view:          'university_card',
                card_prefix:        prefix.card,
                card_mod:           "is--university  is--card", 

                card_slider:        "data-slick-uni", 
                card_slider_view:   "university_item", 
                card_slider_mod:    "is--university  is--item", 
                card_list:[
                    {  
                        modal: 'modal-university',
                        name: 'Реализуйте образовательные программы (ДПО) по компетенциям FutureSkills в сотрудничестве с Академией Ворлдскиллс Россия', 
                        img: [path.img,"/page/university/university-item1.jpg"].join(""),
                        note: 'Войдите в сеть из уже более 1200 центров обучения Ворлдскиллс и получите доступ к нашему Банку эталонных программ. Развивайте профессиональные компетенции преподавателей и участвуйте в программах массовой подготовки граждан в рамках федеральных проектов «Молодые профессионалы» и «Содействие занятости»', 
                        team_view: 'team',
                        team_mod: 'is--team',   
                        team:[
                            {
                                img: [path.img,"/page/team/kaisin.jpg"].join(""),
                                name:       'Константин Кайсин',
                                label:      'Главный эксперт',
                                tel:        '+7 912 345 67 89',
                                email:      'hisemail@gmail.com',
                            },
                            {
                                img: [path.img,"/page/team/kaisin.jpg"].join(""),
                                name:       'Константин Кайсин',
                                label:      'Главный эксперт',
                                tel:        '+7 912 345 67 89',
                                email:      'hisemail@gmail.com',
                            },
                            {
                                img: [path.img,"/page/team/kaisin.jpg"].join(""),
                                name:       'Константин Кайсин',
                                label:      'Главный эксперт',
                                tel:        '+7 912 345 67 89',
                                email:      'hisemail@gmail.com',
                            },
                            {
                                img: [path.img,"/page/team/kaisin.jpg"].join(""),
                                name:       'Константин Кайсин',
                                label:      'Главный эксперт',
                                tel:        '+7 912 345 67 89',
                                email:      'hisemail@gmail.com',
                            },
                        ],
                    },
                    {  
                        modal: 'modal-university',
                        name: 'Проводите внутривузовские чемпионаты по компетенциям FutureSkills и участвуйте в межвузовском чемпионате WorldSkills Russia', 
                        img: [path.img,"/page/university/university-item1.jpg"].join(""),
                        note: 'Войдите в сеть из уже более 1200 центров обучения Ворлдскиллс и получите доступ к нашему Банку эталонных программ. Развивайте профессиональные компетенции преподавателей и участвуйте в программах массовой подготовки граждан в рамках федеральных проектов «Молодые профессионалы» и «Содействие занятости»', 
                        team_view: 'team',
                        team_mod: 'is--team',
                        team:[
                            {
                                img: [path.img,"/page/team/loshkareva.jpg"].join(""),
                                name:       'Екатерина Лошкарева',
                                label:      'Главный эксперт',
                                tel:        '+7 912 345 67 89',
                                email:      'hisemail@gmail.com',
                            },
                            {
                                img: [path.img,"/page/team/loshkareva.jpg"].join(""),
                                name:       'Екатерина Лошкарева',
                                label:      'Главный эксперт',
                                tel:        '+7 912 345 67 89',
                                email:      'hisemail@gmail.com',
                            },
                            {
                                img: [path.img,"/page/team/loshkareva.jpg"].join(""),
                                name:       'Екатерина Лошкарева',
                                label:      'Главный эксперт',
                                tel:        '+7 912 345 67 89',
                                email:      'hisemail@gmail.com',
                            },
                            {
                                img: [path.img,"/page/team/loshkareva.jpg"].join(""),
                                name:       'Екатерина Лошкарева',
                                label:      'Главный эксперт',
                                tel:        '+7 912 345 67 89',
                                email:      'hisemail@gmail.com',
                            },
                        ],
                    },
                    {  
                        modal: 'modal-university',
                        name: 'Включайтесь в мировое сообщество лидеров изменений в области образования', 
                        img: [path.img,"/page/university/university-item1.jpg"].join(""),
                        note: 'Войдите в сеть из уже более 1200 центров обучения Ворлдскиллс и получите доступ к нашему Банку эталонных программ. Развивайте профессиональные компетенции преподавателей и участвуйте в программах массовой подготовки граждан в рамках федеральных проектов «Молодые профессионалы» и «Содействие занятости»', 
                        team_view: 'team',
                        team_mod: 'is--team',   
                        team:[
                            {
                                img: [path.img,"/page/team/kaisin.jpg"].join(""),
                                name:       'Константин Кайсин',
                                label:      'Главный эксперт',
                                tel:        '+7 912 345 67 89',
                                email:      'hisemail@gmail.com',
                            },
                            {
                                img: [path.img,"/page/team/kaisin.jpg"].join(""),
                                name:       'Константин Кайсин',
                                label:      'Главный эксперт',
                                tel:        '+7 912 345 67 89',
                                email:      'hisemail@gmail.com',
                            },
                            {
                                img: [path.img,"/page/team/kaisin.jpg"].join(""),
                                name:       'Константин Кайсин',
                                label:      'Главный эксперт',
                                tel:        '+7 912 345 67 89',
                                email:      'hisemail@gmail.com',
                            },
                            {
                                img: [path.img,"/page/team/kaisin.jpg"].join(""),
                                name:       'Константин Кайсин',
                                label:      'Главный эксперт',
                                tel:        '+7 912 345 67 89',
                                email:      'hisemail@gmail.com',
                            },
                        ],
                    },
                    {  
                        modal: 'modal-university',
                        name: 'Участвуйте в исследованиях, формируйте новые компетенции FutureSkills и будущее рынка труда совместно с индустриальными партнерами', 
                        img: [path.img,"/page/university/university-item1.jpg"].join(""),
                        note: 'Войдите в сеть из уже более 1200 центров обучения Ворлдскиллс и получите доступ к нашему Банку эталонных программ. Развивайте профессиональные компетенции преподавателей и участвуйте в программах массовой подготовки граждан в рамках федеральных проектов «Молодые профессионалы» и «Содействие занятости»', 
                        team_view: 'team',
                        team_mod: 'is--team',
                        team:[
                            {
                                img: [path.img,"/page/team/loshkareva.jpg"].join(""),
                                name:       'Екатерина Лошкарева',
                                label:      'Главный эксперт',
                                tel:        '+7 912 345 67 89',
                                email:      'hisemail@gmail.com',
                            },
                            {
                                img: [path.img,"/page/team/loshkareva.jpg"].join(""),
                                name:       'Екатерина Лошкарева',
                                label:      'Главный эксперт',
                                tel:        '+7 912 345 67 89',
                                email:      'hisemail@gmail.com',
                            },
                            {
                                img: [path.img,"/page/team/loshkareva.jpg"].join(""),
                                name:       'Екатерина Лошкарева',
                                label:      'Главный эксперт',
                                tel:        '+7 912 345 67 89',
                                email:      'hisemail@gmail.com',
                            },
                            {
                                img: [path.img,"/page/team/loshkareva.jpg"].join(""),
                                name:       'Екатерина Лошкарева',
                                label:      'Главный эксперт',
                                tel:        '+7 912 345 67 89',
                                email:      'hisemail@gmail.com',
                            },
                        ],
                    },
                    {  
                        modal: 'modal-university',
                        name: 'Развивайте практики подготовки студентов по перспективным компетенциям', 
                        img: [path.img,"/page/university/university-item1.jpg"].join(""),
                        note: 'Войдите в сеть из уже более 1200 центров обучения Ворлдскиллс и получите доступ к нашему Банку эталонных программ. Развивайте профессиональные компетенции преподавателей и участвуйте в программах массовой подготовки граждан в рамках федеральных проектов «Молодые профессионалы» и «Содействие занятости»', 
                        team_view: 'team',
                        team_mod: 'is--team',   
                        team:[
                            {
                                img: [path.img,"/page/team/kaisin.jpg"].join(""),
                                name:       'Константин Кайсин',
                                label:      'Главный эксперт',
                                tel:        '+7 912 345 67 89',
                                email:      'hisemail@gmail.com',
                            },
                            {
                                img: [path.img,"/page/team/kaisin.jpg"].join(""),
                                name:       'Константин Кайсин',
                                label:      'Главный эксперт',
                                tel:        '+7 912 345 67 89',
                                email:      'hisemail@gmail.com',
                            },
                            {
                                img: [path.img,"/page/team/kaisin.jpg"].join(""),
                                name:       'Константин Кайсин',
                                label:      'Главный эксперт',
                                tel:        '+7 912 345 67 89',
                                email:      'hisemail@gmail.com',
                            },
                            {
                                img: [path.img,"/page/team/kaisin.jpg"].join(""),
                                name:       'Константин Кайсин',
                                label:      'Главный эксперт',
                                tel:        '+7 912 345 67 89',
                                email:      'hisemail@gmail.com',
                            },
                        ],
                    },
                    {  
                        modal: 'modal-university',
                        name: 'Участвуйте в новом формате соревнований FS Team Challenge', 
                        img: [path.img,"/page/university/university-item1.jpg"].join(""),
                        note: 'Войдите в сеть из уже более 1200 центров обучения Ворлдскиллс и получите доступ к нашему Банку эталонных программ. Развивайте профессиональные компетенции преподавателей и участвуйте в программах массовой подготовки граждан в рамках федеральных проектов «Молодые профессионалы» и «Содействие занятости»', 
                        team_view: 'team',
                        team_mod: 'is--team',
                        team:[
                            {
                                img: [path.img,"/page/team/loshkareva.jpg"].join(""),
                                name:       'Екатерина Лошкарева',
                                label:      'Главный эксперт',
                                tel:        '+7 912 345 67 89',
                                email:      'hisemail@gmail.com',
                            },
                            {
                                img: [path.img,"/page/team/loshkareva.jpg"].join(""),
                                name:       'Екатерина Лошкарева',
                                label:      'Главный эксперт',
                                tel:        '+7 912 345 67 89',
                                email:      'hisemail@gmail.com',
                            },
                            {
                                img: [path.img,"/page/team/loshkareva.jpg"].join(""),
                                name:       'Екатерина Лошкарева',
                                label:      'Главный эксперт',
                                tel:        '+7 912 345 67 89',
                                email:      'hisemail@gmail.com',
                            },
                            {
                                img: [path.img,"/page/team/loshkareva.jpg"].join(""),
                                name:       'Екатерина Лошкарева',
                                label:      'Главный эксперт',
                                tel:        '+7 912 345 67 89',
                                email:      'hisemail@gmail.com',
                            },
                        ],
                    },
                ],
            } %}
            {% include "../block/page/block.twig" with {
                view:               'docs',
                content_prefix:     prefix.content, 
                content_mod:        'is--university-docs',

                heading:            'Основополагающие документы',

                card_view:          'docs',
                card_prefix:        prefix.card,
                card_mod:           "is--docs",   
                card_list:[
                    {  
                        link: 'text.pdf', 
                        name: 'Техническое описание',
                    },
                    {  
                        link: 'text.pdf', 
                        name: 'Инфраструктурный лист',
                    },
                    {  
                        link: 'text.pdf', 
                        name: 'Пример конкурсного задания',
                    },
                    {  
                        link: 'text.pdf', 
                        name: 'Инфраструктурный лист',
                    },
                    {  
                        link: 'text.pdf', 
                        name: 'Техническое описание',
                    },
                ], 

                btn:                'скачать все',
                btn_prefix:         prefix.btn,
                btn_tag:            'a',
                btn_elem:           'link',
                btn_link:           page.index, 
                btn_icon:           'download',
                btn_mod:            '',      
            } %} 

        </main>

        {% include "../block/common/footer/footer.twig" with {
            view:"base",
            footer_prefix:"footer__"
        } %} 

        {% include "../block/common/modals/include.twig"%}        
        {% include "../block/common/script/script.twig" with {
        } %}
    </body>
</html> 
