{% if view == 'adv' %}
	{% for value in list %}
		{% if value.toggle == "tab" %}
		<li {% if value.status %}class="{{value.status}}"{% endif %}>
		{% endif %}
		<{% if value.link %}a href="{{value.link}}"{% else %}div{% endif %}  {% if value.toggle %}data-toggle="{{value.toggle}}"{% endif %}  {% if value.id %}id="{{value.id}}"{% endif %} class="{{prefix}}item  {{mod}}  {{value.tabs}}">
			{% if value.img %}
			<div class="{{prefix}}img  {{mod}}">
				<img src="{{value.img}}" class="img-responsive" alt="">
			</div>
			{% endif %}
			<div class="{{prefix}}group  {{mod}}">
				{% if value.name %}
				<h5 class="{{prefix}}heading  {{mod}}">				
					{{value.name}}
				</h5> 
				{% endif %}
				{% if value.note %}
				<div class="{{prefix}}note  {{mod}}">				
					{{value.note}}
				</div> 
				{% endif %}
			</div> 
		</{% if value.link %}a{% else %}div{% endif %}>
		{% if value.toggle == "tab" %}
		</li>
		{% endif %}
	{% endfor %}
{% endif %}
{% if view == 'competencies_adv' %}
	{% for value in list %}
		<li {% if value.img %}style="background-image: url({{value.img}});"{% endif %}>
			{{value.name}}
		</li>
	{% endfor %}
{% endif %}
{% if view == 'сhallenge_adv' %}
	{% for value in list %}
		<div class="{{prefix}}item  {{mod}}">
			<div class="{{prefix}}group  {{mod}}">
				{% if value.img %}
				<div class="{{prefix}}img  {{mod}}">
					<img src="{{value.img}}" class="img-responsive" alt="">
				</div>
				{% endif %}
				{% if value.name %}
				<h5 class="{{prefix}}heading  {{mod}}">				
					{{value.name}}
				</h5> 
				{% endif %}
			</div>				
			{% if value.note %}
			<div class="{{prefix}}note  {{mod}}">				
				{{value.note}}
				{% if value.close %}
				<button data-close class="{{prefix}}btn  {{mod}}">{% include "../svg-sprite/svg.twig" with {icon:"modal-close"} %}</button>
				{% endif %}
			</div> 
			{% endif %}
		</div> 
	{% endfor %}
{% endif %}
{% if view == 'partners' %}
	{% for value in list %}
		<div class="{{prefix}}item  {{mod}}">
			<div class="{{prefix}}img  {{mod}}">
				<img src="{{value.img}}" class="img-responsive" alt="">
			</div>
		</div> 
	{% endfor %}
{% endif %}
{% if view == 'sponsors' %}
	{% for value in list %}
		<div class="{{prefix}}item  {{mod}}">
			<div class="{{prefix}}group  {{mod}}">
				{% if value.label %}
				<div class="{{prefix}}label  {{mod}}">
					<p class="button__item  {{mod}}">				
						<span>{{value.label}}</span>
					</p>
				</div> 
				{% endif %}
				{% if value.img %}
				<div class="{{prefix}}img  {{mod}}">
					<img src="{{value.img}}" class="img-responsive" alt="">
				</div>
				{% endif %}
				{% if value.name %}
				<h5 class="{{prefix}}heading  {{mod}}">				
					{{value.name}}
				</h5> 
				{% endif %}
			</div>				
			{% if value.note %}
			<div class="{{prefix}}note  {{mod}}">
				<div>
					{{value.note}}
					{% if value.video %}
						<video controls class="{{prefix}}video  {{mod}}" muted >
							<source src="{{value.video}}" >
						</video>
					{% endif %}
					{% if value.youtube %}
						<iframe class="{{prefix}}iframe  {{mod}}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" src="//www.youtube.com/embed/{{value.youtube}}"></iframe>
					{% endif %}
				</div>				
				{% if value.close %}
				<button data-close class="{{prefix}}btn  {{mod}}">{% include "../svg-sprite/svg.twig" with {icon:"modal-close"} %}</button>
				{% endif %}
				
			</div> 
			{% endif %}
		</div> 
	{% endfor %}
{% endif %}
{% if view == 'university_card' %}
	{% for value in list %}
		<a href="#" data-toggle="modal" data-target="#{{value.modal}}" class="{{prefix}}item  {{mod}}"  data-modal='{"name":"{{value.name}}", "note":"{{value.note}}", "img":"{{value.img}}" {% if value.team %}, "team":[{% for team in value.team %}{"name": "{{team.name}}","label": "{{team.label}}","img": "{{team.img}}","tel": "{{team.tel}}","email": "{{team.email}}"}{% if  loop.last %}{% else %},{% endif %}{% endfor %}]{% else %},"team":""{% endif %} }'>
			{% if value.img %}
			<div class="{{prefix}}img  {{mod}}">
				<picture>
					<img src="{{value.img}}" class="img-responsive" alt="">
				</picture>
			</div>
			{% endif %}
			<div class="{{prefix}}group  {{mod}}">
				{% if value.name %}
				<h5 class="{{prefix}}heading  {{mod}}">				
					{{value.name}}
				</h5> 
				{% endif %}
			</div> 
		</a>
	{% endfor %}
{% endif %}
{% if view == 'university_item' %}
	{% for value in list %}
	<div class="{{prefix}}wrap  {{mod}}"> 
		<div class="{{prefix}}item  {{mod}}">
			<div class="{{prefix}}img  {{mod}}">
				<picture>
					<img src="{{value.img}}" class="img-responsive" alt="{{value.note}}">
				</picture>
			</div>
			<div class="{{prefix}}group  {{mod}}">
				<h4 class="{{prefix}}heading  {{mod}}">{{value.name}}</h4>
				<div class="{{prefix}}note  {{mod}}">{{value.note}}</div>
			</div> 
			<div class="{{content_prefix}}group  {{content_mod}}-team">
				<h5 class="{{content_prefix}}heading  {{content_mod}}-team">Связаться</h5>
				<div class="{{content_prefix}}grid  grid__row  {{content_mod}}-team">
					{% include "card.twig" with {
	                    view:   value.team_view,
	                    prefix: prefix,
	                    mod:    value.team_mod,
	                    list:   value.team,                    
	                } %}
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
{% endif %}
{% if view == 'university_modal' %}
	<div class="{{prefix}}item  {{mod}}">
		<div class="{{prefix}}img  {{mod}}">
			<picture>
				<img src="" data-uni-img class="img-responsive" alt="">
			</picture>
		</div>
		<div class="{{prefix}}group  {{mod}}">
			<h4 class="{{prefix}}heading  {{mod}}" data-uni-name></h4>
			<div class="{{prefix}}note  {{mod}}" data-uni-note></div>
		</div> 
		<div class="{{content_prefix}}group  {{content_mod}}-team" data-uni-team-group>
			<h5 class="{{content_prefix}}heading  {{content_mod}}-team">Связаться</h5>
			<div class="{{content_prefix}}grid  grid__row  {{content_mod}}-team" data-uni-team>
			</div>
		</div>
	</div>
{% endif %}
{% if view == 'team' %}
	{% for value in list %}
		<div class="{{prefix}}item  {{mod}}">
			<div class="{{prefix}}img  {{mod}}">
				<picture><img src="{{value.img}}" class="img-responsive" alt=""></picture>
			</div>
			{% if value.note %}
			<div class="{{prefix}}group  {{mod}}">
				<div class="{{prefix}}note  {{mod}}">
					{{value.note}}
				</div>
			</div>
			{% else %}
			<div class="{{prefix}}group  {{mod}}">
				{% if value.title %}
				<h2 class="{{content_prefix}}heading  {{mod}}">				
					{{value.title}}
				</h2> 
				{% endif %}
				<h6 class="{{prefix}}heading  {{mod}}">				
					{{value.name}}
				</h6> 
				<p class="{{prefix}}label  {{mod}}">				
					{{value.label}}
				</p> 
				<p class="{{prefix}}tel  {{mod}}">				
					<a href="tel:{{value.tel}}">{{value.tel}}</a> 	
				</p> 
				<p class="{{prefix}}email  {{mod}}">				
					<a href="mailto:{{value.email}}">{{value.email}}</a> 	
				</p> 
			</div>
			{% endif %} 
		</div>
	{% endfor %}
{% endif %}
{% if view == 'events' %}
	{% for value in list %}
		<div class="{{prefix}}item  {{mod}}">
			<div class="{{prefix}}group  {{mod}}">
				<h6 class="{{prefix}}heading  {{mod}}">				
					{{value.name}}
				</h6> 
				<p class="{{prefix}}date  {{mod}}">				
					{{value.date}}
				</p> 
				<p class="{{prefix}}label  {{mod}}">				
					{{value.label}}
				</p>
			</div> 
			<div class="{{prefix}}note  {{mod}}">{{value.note}}</div>
		</div>
	{% endfor %}
{% endif %}
{% if view == 'docs' %}
	{% for value in list %}
		<a href="{{value.link}}" class="{{prefix}}item  {{mod}}">
			<p class="{{prefix}}heading  {{mod}}">				
				{{value.name}}
			</p> 
		</a>
	{% endfor %}
{% endif %}

{% if view == 'articles_card' %}
	{% for value in list %}
		<a href="#" data-toggle="modal" data-target="#{{value.modal}}" class="{{prefix}}item  {{mod}}"  data-modal='{"name":"{{value.name}}","date":"{{value.date}}", "note":"{{value.note}}", "img":"{{value.img}}"}'>
			{% if value.img %}
			<div class="{{prefix}}img  {{mod}}">
				<picture>
					<img src="{{value.img}}" class="img-responsive" alt="">
				</picture>
			</div>
			{% endif %}
			<div class="{{prefix}}group  {{mod}}">
				{% if value.date %}
				<p class="{{prefix}}date  {{mod}}">				
					{{value.date}}
				</p> 
				{% endif %}
				{% if value.name %}
				<h5 class="{{prefix}}heading  {{mod}}">				
					{{value.name}}
				</h5> 
				{% endif %}
			</div> 
		</a>
	{% endfor %}
{% endif %}
{% if view == 'articles_modal' %}
	<div class="{{prefix}}item  {{mod}}">
		<div class="{{prefix}}img  {{mod}}">
			<picture>
				<img src="" data-picture class="img-responsive" alt="">
			</picture>
		</div>
		<div class="{{prefix}}group  {{mod}}">
			<p class="{{prefix}}date  {{mod}}" data-date></p>
			<h4 class="{{prefix}}heading  {{mod}}" data-name></h4>
			<div class="{{prefix}}note  {{mod}}" data-note></div>
		</div>
	</div>
{% endif %}