{% if view == "full" %}
	<div class="{{prefix}}card  {{mod}}">
		<button class="{{prefix}}btn  {{mod}}" type="button" aria-label="Запустить видео">			
			<div class="{{prefix}}heading  {{mod}}">{{name}}</div>
		</button>
		<a class="{{prefix}}preview  {{mod}}" href="https://youtu.be/{{link}}">
			<picture>
				<img class="{{prefix}}media  {{mod}}" src="https://i.ytimg.com/vi/{{link}}/maxresdefault.jpg" alt="">
				<img class="{{prefix}}poster  {{mod}}" src="{{poster}}" alt="">
				{# {% if poster %}
				<img class="{{prefix}}media  {{mod}}" src="{{poster}}" alt="">
				{% else %}
				<img class="{{prefix}}media  {{mod}}" src="https://i.ytimg.com/vi/{{link}}/maxresdefault.jpg" alt="">
				{% endif %} #}
			</picture>
		</a>
	</div>	
{% endif %}
{% if view == "card" %}
	{% for value in list %}
	<div class="{{prefix}}card">
		<button class="{{prefix}}btn" type="button" aria-label="Запустить видео"></button>
		<a class="{{prefix}}preview" href="https://youtu.be/{{value.link}}">
			<picture>
				<source srcset="https://i.ytimg.com/vi_webp/{{value.link}}/maxresdefault.webp" type="image/webp">
				<img class="{{prefix}}media" src="https://i.ytimg.com/vi/{{value.link}}/maxresdefault.jpg" alt="">
			</picture>
			<div class="{{prefix}}heading  {{mod}}">{{value.name}}</div>
		</a>
	</div>
	{% endfor %}
{% endif %}