{% if view == "header" %}
    <div class="{{content_prefix}}header  {{content_mod}}">
        <div>
            <div class="{{content_prefix}}btn  is--goback  {{content_mod}}">
                {% include "../common/button/tpl.twig" with {
                    view:   'tpl',
                    tag:    back_tag,
                    link:   back_link,
                    attr:   back_attr,
                    modal:  back_modal,
                    prefix: back_prefix,
                    mod:    back_mod,
                    elem:   back_elem,
                    icon:   back_icon,
                    name:   back,
                } %}
            </div> 
            <h1 class="{{content_prefix}}heading  {{content_mod}}"> 
                {{heading}}             
            </h1> 
            {% if text %}
            <div class="{{content_prefix}}text  {{content_mod}}"> 
                {{text}}                
            </div> 
            {% endif %}
            {% if tags %}
            <div class="{{content_prefix}}tags  {{content_mod}}"> 
                {% for tags in tags %}
                    {% include "../common/button/tpl.twig" with {
                        view:       'tpl',
                        tag:        'a',
                        link:       tags.link,
                        prefix:     tags_prefix,
                        mod:        tags_mod,
                        elem:       'item',
                        name:       tags.name,
                    } %}
                {% endfor %}            
            </div> 
            {% endif %}
        </div> 
        {% if more %}
        <div> 
            <div class="{{content_prefix}}img  {{content_mod}}  is--more">
                <img src="{{more_img}}" class="img-responsive" alt="{{more}}">
                <p>{{more}}</p>
            </div> 
            {% include "../common/button/tpl.twig" with {
                view:   'tpl',
                tag:    more_tag,
                link:   more_link,
                attr:   more_attr,
                modal:  more_modal,
                prefix: more_prefix,
                mod:    more_mod,
                elem:   more_elem,
                icon:   more_icon,
                name:   more_btn,
            } %}
        </div> 
        {% endif %}
    </div>
{% endif %}
{% if view == "docs" %}
    <section class="{{content_prefix}}content  {{content_mod}}" {% if bg %}style="background-image: url({{bg}});"{% endif %}>
        <div class="{{content_prefix}}container container  {{content_mod}}">
            <h2 class="{{content_prefix}}heading  {{content_mod}}"> 
                {{heading}}             
            </h2> 
            <div class="{{content_prefix}}group  {{content_mod}}">
                <div class="{{content_prefix}}grid  grid__row  {{content_mod}}">
                    {% include "../common/card/card.twig" with {
                        view:   card_view,
                        prefix: card_prefix,
                        mod:    card_mod,
                        list:   card_list,                    
                    } %}
                </div>
                {% if btn %}
                <div class="{{content_prefix}}btn  is--download">
                    {% include "../common/button/tpl.twig" with {
                        view:       'tpl',
                        tag:        btn_tag,
                        link:       btn_link,
                        attr:       btn_attr,
                        modal:      btn_modal,
                        prefix:     btn_prefix,
                        mod:        btn_mod,
                        elem:       btn_elem,
                        icon:       btn_icon,
                        icon_svg:   btn_icon_svg,
                        name:       btn,
                    } %}
                </div>
                {% endif %}
                {% if note %}
                <div class="{{content_prefix}}note  {{content_mod}}">{{note}}</div>
                {% endif %}
            </div>
        </div>
    </section>
{% endif %}