{% if view == "page" %}
    <section class="{{content_prefix}}content  {{content_mod}}" {% if bg %}style="background-image: url({{bg}});"{% endif %}>
        <div class="{{content_prefix}}container container  {{content_mod}}">
	        <div class="{{content_prefix}}grid  grid__row  {{content_mod}}">
				<div>
                    <div class="{{content_prefix}}note  {{content_mod}}">
                        <h1 class="{{content_prefix}}heading  {{content_mod}}">
                            {{heading}}    
                        </h1>
                        <p><a href="tel:{{contacts.phone_tel}}">{{contacts.phone}}</a></p> 
                        <p><a href="mailto:{{contacts.email}}">{{contacts.email}}</a></p>
                        <p><a href="#" data-office data-coord="{{contacts.map_center}}">{{contacts.address}}</a></p>
    	        	</div>
                    {% include "../common/button/tpl.twig" with {
                        view:'tpl',
                        tag:'a',
                        link: btn_link,
                        attr: '',
                        modal: '',
                        prefix:prefix.btn,
                        mod:btn_mod,
                        elem:'item',
                        name:btn,
                    } %} 
                </div>
	        	<div id="map-2gis" class="map__block  {{content_mod}}" data-map='{{map}}'></div>
	        </div>
        </div>
    </section>
{% endif %}