{% if view == "tpl" %}
<{{tag}} {% if tag == "button" %}type="{{type}}"{% endif %} {% if tag == "a" %}href="{{link}}"{% endif %} {% if title %}title="{{title}}"{% endif %} class="{{prefix}}{{elem}}  {{mod}}" {{attr}} {% if target %}target="{{target}}"{% endif %} {% if count %}data-count="{{count}}"{% endif %}{% if modal %}data-modal='{ {{modal}} }'{% endif %}>
	{% if name %}
		<span>{{name}}</span>
	{% endif %}	
	{% if icon %}
		{% include "../svg-sprite/svg.twig" with {icon:icon} %}
	{% endif %}
	{% if icon_svg %}
		{{icon_svg}}
	{% endif %}
</{{tag}}>  
{% endif %}