{% if view == "base" %}
<header class="{{navbar_prefix}}block  {{navbar_mod}}">
	<div class="{{navbar_prefix}}header">
		<div class="container">
			<div class="{{navbar_prefix}}header-row flex__row">
				<div class="is--logotip-v">
					<a class="{{navbar_prefix}}logotip-v" href="{{page.index}}">
						{% include "../svg-sprite/svg.twig" with {icon:'logotip-start'} %}
						{% include "../svg-sprite/svg.twig" with {icon:'logotip-finish'} %}
						{% include "../svg-sprite/svg.twig" with {icon:'logotip-finish-h'} %} 
					</a> 
				</div>
				<div class="is--logotip"> 
					<a class="{{navbar_prefix}}logotip" href="{{page.index}}">
						{% include "../svg-sprite/svg.twig" with {icon:'logotip'} %}
					</a>
				</div>
				<button class="{{navbar_prefix}}hamburger-card" data-hamburger>
					{% include "../svg-sprite/svg.twig" with {icon:'humb'} %} 
				</button>
			</div>
		</div>
	</div>
	<div class="{{navbar_prefix}}collapse" >
		<div class="{{navbar_prefix}}collapse-inner">	
			<div class="container">
				<div class="{{navbar_prefix}}collapse-row  flex__row">
					<div class="is--logotip-v">
						<a class="{{navbar_prefix}}logotip-v" href="{{page.index}}">
							{% include "../svg-sprite/svg.twig" with {icon:'logotip-start'} %}
							{% include "../svg-sprite/svg.twig" with {icon:'logotip-finish'} %}
							{% include "../svg-sprite/svg.twig" with {icon:'logotip-finish-h'} %} 
						</a> 
					</div>
					<div class="is--humb">
						<button class="{{navbar_prefix}}hamburger-card  is--active" data-hamburger-close>
							{% include "../svg-sprite/svg.twig" with {icon:'humb-close'} %} 
						</button>
					</div>
					<div class="is--logotip">
						<a class="{{navbar_prefix}}logotip" href="{{page.index}}">
							{% include "../svg-sprite/svg.twig" with {icon:'logotip'} %} 
						</a>
					</div>
					
					<nav class="is--navbar">
						<ul class="{{navbar_prefix}}nav">
							
							{% include "item.twig" with {
								prefix:navbar_prefix, 
								list : [
									{
										name:"Компетенции", 
										link:page.competencies, 
										mod:""
									},
									{
										name:"FS Team Challenge", 
										link:page.challenge, 
										mod:""
									},
									{
										name:"Университетам", 
										link:page.university, 
										mod:""
									},	
								]
							} %}
						</ul>	
					</nav>
					<div class="is--search">
						<a class="{{navbar_prefix}}search" href="#">
							{% include "../svg-sprite/svg.twig" with {icon:'search'} %} 
						</a>
					</div>
					<div class="is--soc">
						<div class="footer__soc  is--navbar">
							<p>Подпишитесь на нас в соцсетях:</p>
							<ul>
								<li>
									<a href="{{soc.inst}}" target="_blank">instagram</a>			
								</li>
								<li>
									<a href="{{soc.yb}}" target="_blank">youtube</a>
								</li>
								<li>
									<a href="{{soc.fb}}" target="_blank">facebook</a>
								</li>
								<li>
									<a href="{{soc.tw}}" target="_blank">twitter</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="is--contacts">
						<div class="footer__contacts  is--navbar">
							<a href="tel:{{contacts.phone_tel}}">{{contacts.phone}}</a>
						</div>
						<div class="footer__contacts  is--navbar">
							<a href="mailto:{{contacts.email}}">{{contacts.email}}</a>
						</div>
						<div class="footer__contacts  is--navbar">
							{{contacts.address}}
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</header>
{% endif %}
{% if view == "landing" %}
<header class="{{navbar_prefix}}block  {{navbar_mod}}">
	<div class="{{navbar_prefix}}header">
		<div class="container">
			<div class="{{navbar_prefix}}header-row flex__row">
				<div class="is--logotip-v">
					<a class="{{navbar_prefix}}logotip-v" href="#">
						{% include "../svg-sprite/svg.twig" with {icon:'logotip-landing-finish'} %}
						{% include "../svg-sprite/svg.twig" with {icon:'logotip-landing-start'} %}
					</a> 
				</div>
				<div class="is--logotip"> 
					<a class="{{navbar_prefix}}logotip" href="#">
						<img src="{{path.img}}/page/landing/logotip.svg" class="img-responsive" alt=""> 
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="{{navbar_prefix}}collapse" >
		<div class="{{navbar_prefix}}collapse-inner">	
			<div class="container">
				<div class="{{navbar_prefix}}collapse-row  flex__row">
					<div class="is--logotip">
						<a class="{{navbar_prefix}}logotip" href="#">
							<img src="{{path.img}}/page/landing/logotip.svg" class="img-responsive" alt=""> 
						</a>
					</div>					
				</div>
			</div>
		</div>
	</div>
</header>
{% endif %}
{% if view == "landing2" %}
<header class="{{navbar_prefix}}block  {{navbar_mod}}">
	<div class="{{navbar_prefix}}header">
		<div class="container">
			<div class="{{navbar_prefix}}header-row flex__row">
				<div class="is--logotip"> 
					<a class="{{navbar_prefix}}logotip" href="#">
						<picture>
							<source media="(max-width: 767px)" srcset="{{path.img}}/page/landing/logotip-xs.svg">
							<img src="{{path.img}}/page/landing/logotip.svg" class="img-responsive" alt="">
						</picture>
					</a>
				</div>
			</div>
		</div>
	</div>
</header>
{% endif %}