{% if view == "base" %}
<header class="{{navbar_prefix}}block  {{navbar_mod}}">
	<div class="{{navbar_prefix}}header">
		<div class="container">
			<div class="{{navbar_prefix}}header-row flex__row">
				<div>
					<a class="{{navbar_prefix}}logotip" href="{{page.index}}">
						{% include "../svg-sprite/svg.twig" with {icon:'logotip'} %}
					</a>
				</div>
				<button class="{{navbar_prefix}}hamburger-card" data-hamburger>
					<span class="{{navbar_prefix}}hamburger-card-inner">
						<span class="{{navbar_prefix}}hamburger-card-line  is--left"></span>
						<span class="{{navbar_prefix}}hamburger-card-line  is--center"></span>
						<span class="{{navbar_prefix}}hamburger-card-line  is--right"></span>
					</span>
				</button>
			</div>
		</div>
	</div>
	<div class="{{navbar_prefix}}collapse" >
		<div class="{{navbar_prefix}}collapse-inner">	
			<div class="container">
				<div class="{{navbar_prefix}}collapse-row  flex__row">
					<div class="is--logotip-anim">
						<a class="{{navbar_prefix}}logotip-anim" href="{{page.index}}">
							{% include "../svg-sprite/svg.twig" with {icon:'logotip-start'} %} 
							<div class="icon-tire-h"></div>
							<div class="icon-tire-v"></div>
							{# 
							{% include "../svg-sprite/svg.twig" with {icon:'logotip-finish'} %}  #}
						</a>
					</div>
					<div class="is--logotip">
						<a class="{{navbar_prefix}}logotip" href="{{page.index}}">
							{% include "../svg-sprite/svg.twig" with {icon:'logotip'} %} 
						</a>
					</div>
					
					<nav class="is--navbar">
						<ul class="{{navbar_prefix}}nav">
							
							{% include "item.twig" with {
								prefix:navbar_prefix, 
								list : [
									{
										name:"Компетенции", 
										link:page.competencies, 
										mod:""
									},
									{
										name:"FS Team Challenge", 
										link:page.challenge, 
										mod:""
									},
									{
										name:"Университетам", 
										link:page.university, 
										mod:""
									},	
								]
							} %}
						</ul>	
					</nav>
					<div class="is--search">
						<a class="{{navbar_prefix}}search" href="#">
							{% include "../svg-sprite/svg.twig" with {icon:'search'} %} 
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</header>
{% endif %}